body{
    display: flex;
    justify-content: center;
}

#grid-container {
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: repeat(3, 200px);
    grid-gap: 1px;
    
}

.grid-box {
    border-style: solid;
    border-width: 2px;

    background-color: dimgray;
}

<<<<<<< HEAD
#grid-box-3 {
=======
#grid-keys {
>>>>>>> ui
    display: grid ;
    justify-items: stretch;
    justify-content: center;
    /* align-content: center; */
    
    align-items: stretch;
    grid-gap: 2px;
    grid-auto-flow: row;
    
    grid-template-columns: 3.4em 3.4em 3.4em 4em 4em 4em;
    grid-template-rows: repeat(6, 2.96em);
    
}

<<<<<<< HEAD
=======
#grid-display {
    background-color: gray;
}

>>>>>>> ui
.button {
    display: flex;
    background-color: aqua;
    border-radius: 10%;
    
    align-content: center;
    justify-content: center;
    
}

#key-equality {
    width: 8em;
    height: 3em;
}